.App {
  text-align: center;
}




.gridColor{
  display: inline-block;
  width: 50px;
  height: 50px;
  border: solid #45B39D 5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}  

.selectcolor{
  display: inline-block;
  width: 50px;
  height: 50px;
  border: solid white 5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.pixel{

  height: 50px;
  width: 50px;
  border: 1px solid black;
}


.grid{
  display: flex;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}

.gridtam{
  width: 550Px;
  height: 600px;
}

 



.button{
  display: inline-block;
  width: 150px;
  height: 50px;
  margin-right: 2%;
  background-color: #45B39D;
  border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;

}



.container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: #282c34;
      margin-bottom: 100px;
    }

.color {
      display: inline-block;
      width: 50px;
      height: 50px;
      border: 1px solid black;
    }

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.pixFont{
  font-family: 'Press Start 2P', cursive;
  color:white;
}
